
.hoofdnaam h1 {
    text-align: center;
    font-weight: bold;
    color: gold;
    font-size: 4rem;
    background-color: transparent;
    border-bottom: solid gold;
    width: 100%;
    font-size: 5vw;
}
@media screen and (max-width: 800px) {
    header {
        width: 100%;

    }

    .topnav {
        width: 80%;
        font-size: 50px;
    }

    .naam {
        font-size: 12px;
        text-align: center;
    }
}
p {
    text-align: center;
}

p1.informatie {
    font-weight: bold;
    font-size: 1cm;
}

body {
    background-image: url(https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

img.fakeimg {
    size: 1cm;
}

.topnav {
    background-color: transparent;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: white;
}

img.barry {
    object-position: right top;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

p {
    text-align: left;
    font-family: 'Yaldevi', sans-serif;
    font-size: larger;
    color: white;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 1vw;
}

img.computer {
    height: 300px;
    width: 400px;
    border-radius: 8px;

}

div {

    font-weight: 100;
}

p2 {
    font-size: larger;
    margin: 0;
    font-family: 'Yaldevi', sans-serif;
}

.game {
    height: 300px;
    width: 400px;
    border-radius: 8px;
    float: left;
    color: white;
}


.container {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.naam {
    color: white;
    text-align: center;
    font-size: 25px;
}

.gdel {
    color: white;
}

.tt {
    color: white;
    margin: 1%;
    font-size: 2vw;
}

.h2i {
    color: white;
}

.faq {
    color: white;
    font-size: 36px;
}


.column1 {
    float: left;
    width: 25%;
    padding: 10px;

}

/* Clearfix (clear floats) */
.row1::after {
    content: "";
    clear: both;
    display: table;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 70%;
}

.container1 {
    padding: 0 16px;
}

.container1::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

a:visited {
    color: white;
}

.faq2 {
    font-size: 15px;
}


.opleiding {
    width: 25%;
    height: 30vh;

    float: left;

    margin-right: 0%;
    margin-bottom: 0%;

    color: white;
    background: #404040;
    transition: transform .2s;
}

.opleiding:hover {
    transform: scale(1.033);
}

.opleiding img {
    width: 100%;
}

.opleiding h4 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.cc {
    text-align: center;
    width: 100%;
}


.gm {
    text-align: right;
    margin-right: 20%;
    margin-left: 20%;
}

.faq5 {
    margin: 1%;
}

.oi {
    margin: 1%;
}

.tekst {
    margin: 1%;
    font-size: 1vw;
}

h2.persoon {
    font-size: 2vw;
}

